.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #e4e4e4;
  --bg-secondary: #b1b1b1;
}

.dark.main {
  background: #3a3a3a;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.light .nav-link:hover .number {
  color: #fff;
}

/* Header/Nav */
.dark .nav-link.active-link{
  background: var(--bg-secondary);;
  color: #fff;
  filter: none;
  position: relative;
}
.dark .nav-link.active-link .number{
  background: #394a75;
  color: var(--text-secondary);
}