.content {
  padding: 0 30px;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .content {
    overflow: auto;
    padding-bottom: 100px;
  }
}