.navbar {
  background-color: var(--bg-primary);
  padding: 0;
  position: relative;
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-item.homepage {
  display: none;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 4rem;
  color: var(--text-primary);
  justify-content: space-between;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link .number {
  align-items: center;
  background: var(--text-primary);
  border-radius: 50%;
  color: var(--bg-primary);
  display: flex;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  transition: var(--transition-speed);
  min-width: 40px;
  width: 40px;
}



.link-text {
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #0f60b7;
}

.fa-secondary {
  color: #394a75;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  position: absolute;
  right: 0;
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo img{
  width: 160px;
}
.logo .nav-link{
  justify-content: flex-end;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}



/* Small screens */
@media only screen and (max-width: 600px) {
  .header {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
  }
  .navbar {
    box-shadow: 0 0 10px #888888;
    height: 5rem;
    overflow: hidden;
    width: 100vw;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    overflow: auto;
  }

  .nav-link {
    flex-direction: column;
    justify-content: center;
  }

  .nav-link .link-text {
    display: none;
  }

  .nav-link .number {
    margin: 0 0.4rem;
  }

  main {
    margin: 0;
  }
  .navbar-nav::-webkit-scrollbar {
    height: 0.25rem;
    width: 0.25rem;
  }
  
  .navbar-nav::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  .navbar-nav::-webkit-scrollbar-thumb {
    background: #0f60b7;
  }

  .nav-item:last-child .nav-link {
    filter: none;
    color: red;
  }
  .nav-item:last-child .nav-link svg {
    width: 2.5rem;
  }

  .nav-item.homepage {
    display: block;
  }
  
  .nav-item.homepage > .nav-link {
    filter: none;
    margin-right: 15px;
    position: relative;
  }
  
  .nav-item.homepage img {
    height: 35px;
    margin: 0 1rem;
    width: 35px;
  }
  
  .nav-item.homepage .nav-link:after {
    border: 1px solid #32323e;
    content: '';
    display: block;
    height: 70%;
    margin-top: -35%;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
  }
}

/* Large screens */
@media only screen and (min-width: 601px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar-nav{
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
  .navbar:hover .nav-link{
    margin-left: 0;
  }

  .nav-link {
    margin-left: -176px;
    width: 256px;
  }

  .nav-link .number {
    margin: 0 1.2rem;
  }

  .nav-link:hover .number{
    background: #394a75;
    color: var(--text-secondary);;
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  .nav-link.active-link{
    background: #828282;
    color: #fff;
    filter: none;
    position: relative;
  }
  .nav-link.active-link .number{
    background: #fff;
    color: #394a75;
  }
  .nav-link.active-link:hover .number{
    background: #fff;
    color: #394a75 !important;
  }

  .nav-link.active-link:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #828282;
    position: absolute;
    right: -20px;
  }
}